.container {
	padding: 3rem;
	background-color: beige;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.main-title {
	font-weight: 600;
	font-size: 3rem;
	color: tomato;
}

.dark {
	background-color: black;
	color: white;
}

.light {
	background-color: beige;
	color: black;
}
